<div class="mb-8 mt-8 text-center" style="height:50px;">
    <a href="/admin/campaigns/all/on" class="m-8 btn btn-success">
        Activar todas
    </a>
    <a href="/admin/campaigns/all/off" class="m-8 btn btn-primary">
        Apagar todas
    </a>
    <a href="/admin/campaigns/makelog" class="m-8 btn btn-primary">
        Registrar
    </a>
</div>

<div class="container-fluid pt-2 pb-2" style="height:85vh;overflow-y:scroll;">
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th class="align-middle">ID</th>
                <th class="align-middle">Nombre</th>
                <th class="align-middle">Estado</th>
                <th class="align-middle">Clics</th>
                <th class="align-middle">Mensajes</th>
                <th class="align-middle">CPC</th>
                <th class="align-middle">CPR</th>
                <th class="align-middle">Gasto</th>
                <th class="align-middle">Presupuesto Diario</th>
                <th class="align-middle">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each campaigns}}
            <tr>
                <td class="align-middle text-center">{{id}}</td>
                <td class="align-middle text-uppercase text-center">{{name}}</td>
                {{#if active}}
                <td class="align-middle text-center" style="color:green">ACTIVA</td>
                {{else}}
                <td class="align-middle text-center" style="color:#404a9d">EN PAUSA</td>
                {{/if}}
                <td class="align-middle text-center">{{clicks}}</td>
                <td class="align-middle text-center">{{messages}}</td>
                <td class="align-middle text-center currency-integer">{{cpc}}</td>
                <td class="align-middle text-center currency-integer">{{cpr}}</td>
                <td class="align-middle text-center currency-integer">{{spend}}</td>
                <td class="align-middle text-center currency-integer">{{daily_budget}}</td>
                {{#if active}}
                <td class="align-middle text-center">
                    <a class="mx-1" style="color:#404a9d" href="/admin/campaigns/{{id}}/off">Desactivar</a>
                </td>
                {{else}}
                <td class="align-middle text-center">
                    <a class="mx-1" style="color:#404a9d" href="/admin/campaigns/{{id}}/on">Activar</a>
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<script>
    window.addEventListener('load', function() {
        let elements = document.querySelectorAll('.currency-integer');
        elements.forEach(function(element) {
            let number = parseFloat(element.textContent);
            let formattedNumber = number.toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0, maximumFractionDigits: 0 });
            element.textContent = formattedNumber;
        });
    });
</script>
