
<div class="col-md-12 container-fluid pt-2 pb-2" style="height:100vh;overflow-y:scroll;">

    <a class="btn btn-danger m-2" href="/logout">Cerrar Sesión</a>
    <div class="row text-center mb-4">
        {{!-- <div class="container text-center" style="height:15vh">
            <button id="info-btn" class="btn btn-lg btn-primary m-3">Información Personal</button>
            <button id="files-btn" class="btn btn-lg btn-primary m-3">Archivos Subidos</button>
        </div> --}}

        <div class="personal-info col-md-3">
            <div class="card p-4" style="height: 100%;">
                <h2 class="card-title text-uppercase text-center">{{customer.fullname}}</h2>
                {{!-- <h3 class="mb-2">Estado: <span class="text-uppercase card-subtitle">{{customer.status}}</span>
                </h3> --}}
                <h3 class="mb-2">Estado:
                    <strong>
                        <span id="estado" class="text-uppercase card-subtitle">{{customer.status}}</span>
                    </strong>
                </h3>


                <p class="mb-1">Documento: {{customer.document}}</p>
                <p class="mb-1">Teléfono: {{customer.phone}}</p>
                <p class="mb-1">Correo Electrónico: {{customer.email}}</p>

                <p class="mb-1">Monto de crédito: {{customer.credit_amount}}</p>
                <p class="mb-1">Proceso de crédito: {{customer.credit_process}}</p>
                <p class="mb-1">Número de cuenta: {{customer.bank_number}}</p>
                <p class="mb-1">Saldo disponible: {{customer.available_balance}}</p>
            </div>
        </div>

        <div class="document-info col-md-4">
            <div class="card p-4" style="height: 100%;">
                <h2 class="card-title">Archivos Subidos</h2>
                <div class="card-body">
                    <ul class="list-group">
                        {{#each customer.files}}
                        <li class="list-group-item">
                            <a class="a-doc" href="https://drive.google.com/file/d/{{id}}/view" target="_blank">
                                {{name}}
                            </a>
                        </li>
                        {{else}}
                        <p>No se han subido archivos</p>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="payment-info col-md-5">
            <div class="card p-4" style="height: 100%;">
                <h2 class="card-title">Historial de Pagos</h2>
                <div class="card-body" style="height:30vh;overflow-y:scroll">
                    {{> payment-table}}
                </div>
            </div>
        </div>

    </div>

</div>



{{!--
<script>
    var infoBtn = document.getElementById("info-btn");
    var filesBtn = document.getElementById("files-btn");

    infoBtn.addEventListener("click", function () {
        document.querySelector(".personal-info").style.display = "block";
        document.querySelector(".document-info").style.display = "none";
    });

    filesBtn.addEventListener("click", function () {
        document.querySelector(".personal-info").style.display = "none";
        document.querySelector(".document-info").style.display = "block";
    });
</script> --}}


<script>
    function renderStates() {
        var estadoSpan = document.getElementById("estado");
        var estado = estadoSpan.textContent.trim().toLowerCase();

        if (estado === "aprobado") {
            estadoSpan.classList.add("aprobado");
        } else if (estado === "no aprobado") {
            estadoSpan.classList.add("no-aprobado");
        } else {
            estadoSpan.classList.add("pendiente");
        }
    }


    document.addEventListener("DOMContentLoaded", () => {
        renderStates();
    });
</script>