<div class="container-fluid pt-2 pb-2" style="height:85vh;overflow-y:scroll;">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">

                    <form id="form" action="/admin/customers/edit/{{customer.id}}/{{customer.folderId}}" method="POST"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <p class="text-left">Nombre Completo</p>
                            <input type="text" value="{{customer.fullname}}" name="fullname" class="form-control"
                                placeholder="Nombre Completo" autofocus required>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Documento</p>
                            <input type="text" value={{{customer.document}}} name="document" class="form-control"
                                placeholder="Documento" required>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Contraseña</p>
                            <input type="text" value={{{customer.password}}} name="password" class="form-control"
                                placeholder="Contraseña" required>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Correo Electrónico</p>
                            <input type="email" value={{customer.email}} name="email" class="form-control"
                                placeholder="Correo Electrónico">
                        </div>
                        <div class="form-group">
                            <p class="text-left">Teléfono</p>
                            <input type="phone" value={{{customer.phone}}} name="phone" class="form-control"
                                placeholder="Teléfono">
                        </div>
                                                <div class="form-group">
                            <p class="text-left">Monto de crédito</p>
                            <input type="text" name="credit_amount" class="form-control" placeholder="Monto de crédito">
                        </div>
                        <div class="form-group">
                            <p class="text-left">Proceso de crédito</p>
                            <input type="text" name="credit_process" class="form-control" placeholder="Proceso de crédito">
                        </div>
                        <div class="form-group">
                            <p class="text-left">Número de cuenta</p>
                            <input type="text" name="bank_number" class="form-control" placeholder="Número de cuenta">
                        </div>
                        <div class="form-group">
                            <p class="text-left">Saldo Disponible</p>
                            <input type="text" name="available_balance" class="form-control" placeholder="Saldo Disponible">
                        </div>
                        
                        <div class="form-group">
                            <div class="form-group">
                                <p class="text-left">Estado</p>
                                <select name="status" class="form-control">
                                    <option value="pendiente">Pendiente</option>
                                    <option value="aprobado">
                                        Aprobado</option>
                                    <option value="no aprobado">No aprobado</option>
                                </select>
                            </div>


                            <p class="text-left">Archivos Subidos</p>
                                <ul class="form-control" style="height:10vh; overflow-y:scroll">
                                    {{#each files}}
                                    <li>
                                        <a href="https://drive.google.com/file/d/{{id}}/view" target="_blank">
                                            {{name}}
                                        </a>
                                        <a style="color:red;margin-left:1rem"
                                            href="/admin/customers/files/delete/{{../customer.id}}/{{id}}">Delete</a>
                                    </li>
                                    {{else}}
                                    <p class="text-muted">No se han subido archivos</p>
                                    {{/each}}
                                </ul>


                            {{!-- <div class="form-group file-upload-wrapper">
                                <p class="text-left">Add Files <span class="text-muted"> (Maximum size: {{
                                        remaining_size }} MB)</span></p>
                                <input id="fileInput" type="file" name="files" class="form-control" multiple>
                            </div> --}}

                            <div class="form-group file-upload-wrapper">
                                <p class="text-left">Subir Archivos <span class="text-muted"> (Tamaño restante: {{
                                        remaining_size }} MB)</span></p>
                                <input id="fileInput" type="file" style="height:3rem" name="files" class="form-control"
                                    multiple>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-primary btn-block">
                                            Guardar
                                        </button>
                                    </div>
                                    <div class="col">
                                        <a href="/admin/customers/" class="btn btn-danger btn-block">
                                            Cancelar
                                        </a>
                                    </div>
                                </div>
                            </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    const MAX_SIZE = {{ remaining_size }} * 1e6;
    const fileInput = document.querySelector('#fileInput');
    fileInput.addEventListener('change', (event) => {
        const files = fileInput.files
        let size = 0
        for (let file of files) {
            size += file.size
        }
        if (size > MAX_SIZE) {
            event.preventDefault();
            alert(`The maximum file size is ${MAX_SIZE / 1e6} MB`)
            fileInput.value = ''
        }
    });

</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var estadoSpan = document.getElementById("estado");
    var estado = estadoSpan.textContent.trim().toLowerCase();
    
    if (estado === "aprobado") {
        estadoSpan.classList.add("aprobado");
    } else if (estado === "no aprobado") {
        estadoSpan.classList.add("no-aprobado");
    } else {
        estadoSpan.classList.add("pendiente");
    }
});
</script>

<script>
// Obtén todos los elementos de entrada con la clase "currency-input"
const currencyInputs = document.querySelectorAll('.currency-input');

// Agrega un manejador de eventos de cambio de entrada a cada campo de entrada
currencyInputs.forEach(function(input) {
    input.addEventListener('input', function() {
        // Elimina cualquier carácter que no sea un número, o un signo de dólar
        let value = this.value.replace(/[^0-9$]/g, '');

        // Elimina signos de dólar adicionales
        value = value.replace(/\$/g, '');

        // Divide el valor en parte entera y parte decimal
        const parts = value.split('.');
        let integerPart = parts[0];
        let decimalPart = parts[1] || '';

        // Agrega comas como separadores de miles a la parte entera
        integerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        // Vuelve a construir el valor con el formato de moneda
        value = '$' + integerPart + (decimalPart ? '.' + decimalPart : '');

        // Actualiza el valor del campo de entrada
        this.value = value;
    });
});
</script>