<div class="container p-4" style="height:50rem;overflow-y:scroll;">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">

                    <form id="form" action="/admin/customers/edit/{{customer.id}}/{{customer.folderId}}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <p class="text-left">Full name</p>
                            <input type="text" value="{{customer.fullname}}" name="fullname" class="form-control" placeholder="Full name"  autofocus required>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Document</p>
                            <input type="text" value={{{customer.document}}} name="document" class="form-control" placeholder="Document ID" required>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Password</p>
                            <input type="text" value={{{customer.password}}} name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Email</p>
                            <input type="email" value={{customer.email}} name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Phone</p>
                            <input type="phone" value={{{customer.phone}}} name="phone" class="form-control" placeholder="Phone number" required>
                        </div>
                        <div class="form-group">
                            <p class="text-left">Status</p>
                            <input type="text" value="{{customer.status}}" name="status" class="form-control" placeholder="Status"
                                required>
                        </div>

                        <ul class="list-group">
                            {{#each files}}
                            <li class="list-group-item">
                                <a href="https://drive.google.com/file/d/{{id}}/view" target="_blank">
                                    {{name}}
                                </a>
                                <a style="color:red;margin-left:1rem" href="/admin/customers/files/delete/{{../customer.id}}/{{id}}">Delete</a>
                            </li>
                            {{/each}}
                        </ul>

                        <div class="form-group file-upload-wrapper">
                            <p class="text-left">Add Files <span class="text-muted"> (Maximum size: {{ remaining_size }} MB)</span></p>
                            <input id="fileInput" type="file" name="files" class="form-control" multiple>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-success btn-block">
                                        Save
                                    </button>
                                </div>
                                <div class="col">
                                    <a href="/admin/customers/" class="btn btn-danger btn-block">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
  const MAX_SIZE = {{remaining_size}} * 1e6;
  const fileInput = document.querySelector('#fileInput');
  fileInput.addEventListener('change', (event) => {
    const files = fileInput.files
    let size = 0
    for(let file of files) {
        size += file.size
    }   
    if (size > MAX_SIZE) {
      event.preventDefault();
      alert(`The maximum file size is ${MAX_SIZE/1e6} MB`)
      fileInput.value = ''
    }
  });
</script>