<table class="table table-striped table-light">
    <thead style="position: sticky; top: 0;">
        <tr>
            <th class="align-middle">Fecha Oportuna</th>
            <th class="align-middle">Fecha de Pago</th>
            <th class="align-middle">Estado</th>
            <th class="align-middle">Valor</th>
        </tr>
    </thead>
    <tbody>
        {{#each payments}}
        <tr>
            <td class="align-middle text-center" class="text-uppercase text-center">{{formatDate oportune_date}}</td>
            <td class="align-middle text-center">{{formatDate payment_date}}</td>
            <td class="align-middle text-center">
                {{offset}} días
                {{#if oportune}}
                a tiempo
                {{else}}
                atrasados
                {{/if}}
            </td>
            <td class="align-middle text-center">{{formatCurrency payment_value}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll(".pending-amount-highlighted").forEach( elem => {
            const content = elem.firstChild.textContent.replace(/[^0-9]/g, "")
            if(content == '0') {
                elem.classList.remove("pending-amount-highlighted");
            }
        })
    })
</script>
