<div class="container mb-4">
    <h2 class="card-title text-uppercase">{{fullname}}</h2>
    <h3 class="mb-2">Estado: <span class="text-uppercase card-subtitle">{{status}}</span></h3>
    <p class="mb-1">Documento: {{document}}</p>
    <p class="mb-1">Teléfono: {{phone}}</p>
    <p class="mb-1">Correo Electrónico: {{email}}</p>
</div>

<div class="card p-4">
    <h5 class="card-subtitle">Archivos Subidos</h3>
    <div class="card-body">
    <div class="container"style="height:200px; overflow-y: scroll;">
        <ul class="list-group">
            {{#each files}}
            <li class="list-group-item">
                <a href="https://drive.google.com/file/d/{{id}}/view" target="_blank">
                    {{name}}
                </a>
            </li>
            {{else}}
            <p>No se han subido archivos</p>
            {{/each}}
        </ul>
    </div>
    </div>
</div>
